<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="resources/style.css">
    <title>PC Shop</title>
</head>
<body>
    <ul class="menu">
        <li><a th:href="@{/}">Main</a></li>
        <li><a th:href="@{products}">Product list</a></li>
        <li><a th:href="@{add}">Add product</a></li>
    </ul><br>
    <form method="post">
        <p>Price</p>
        <input class="input-field" name="price" type="number"><br>
        <p>Title</p>
        <input class="input-field" name="title" type="text"><br>
        <p>Size</p>
        <input class="input-field" name="size" type="number"><br>
        <p>Rotation Speed</p>
        <input class="input-field" name="rotationSpeed" type="number"><br>
        <p>Cache Size</p>
        <input class="input-field" name="cacheSize" type="number"><br>
        <p>Brand</p>
        <input class="input-field" name="brand" type="text"><br>
        <button type="submit">Add</button>
        <button type="reset">Reset</button>
    </form>
</body>
</html>