.add-form .mb-3 {
    margin-top: 18px;
}

#addFormResetButton,
#filterFormResetButton {
    margin-top: 5px;
}

.add-form .buttons .btn,
.filter-form .buttons .btn {
    width: 40%;
    margin: 0 30%;
}

.container-sm {
    max-width: 540px;
}